<div class="col-12 d-flex justify-content-between pb-1">
  <h2 class="font-weight-light text-uppercase">
    <span class="text-blue">{{firstName}} </span>
    <span class="text-gray">{{lastName}}</span>
  </h2>
  <a class="return-button align-self-center rounded text-point-87-rem" href="#staff">View all staff</a>
</div>

<div class="col-12 font-weight-light mb-2 mb-md-4">
  <div class="row">
    <div class="col-md-4 col-xl-3">
      <img class="img-fluid img-thumbnail d-none d-md-block" src="{{imgTallSource}}" />
      <img class="img-fluid img-thumbnail d-md-none mb-4" src="{{imgThumbSource}}" />
    </div>
    <div class="col-md">
      <p><strong>{{title}}</strong></p>
      {{{bioHTML}}}
    </div>
  </div>
</div>
