<div class="pt-3 px-0 px-md-3">

  {{#each projectCategories}}
    <div class="col-12 text-center text-md-left">
      <h3 class="font-weight-light text-uppercase pb-2">
        <span class="text-blue">{{titleOne}} </span> {{!-- should allow for flexible length --}}
        <span class="text-gray">{{titleTwo}}</span>
      </h3>
    </div>

    <div class="col-12">
      <div class="row anchor-plain">
        {{#each projects}}
          <div class="col-md-6 col-lg-4 pb-3 pb-md-4-5">
            <div class="card h-100">
              <a class="spa-nav" href="{{path}}">
                <img class="card-img-top" src="{{thumbImg}}" alt="{{title}}">
              </a>
              <div class="card-body text-roboto">
                <a class="spa-nav" href="{{path}}">
                  <span class="blue-header">{{title}}</span>
                </a>
                <p class="card-text text-point-87-rem">{{description}}</p>
              </div>
              <div class="card-footer">
                <div class="row gray-subheader">
                  <div class="col-7">{{location}}</div>
                  <div class="col-5 text-right">{{date}}</div>
                </div>
              </div>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  {{/each}}

</div>
