<div class="pt-3 px-0 px-md-3 pb-md-3">

  <section class="col-12 d-sm-flex justify-content-between text-center text-sm-left">
    <h3 class="font-weight-light text-uppercase text-blue">
      {{#if pageTitle}}
        {{pageTitle}}
      {{else}}
        {{title}}
      {{/if}}
    </h3>
    <a class="spa-nav ml-auto return-button align-self-top rounded text-point-87-rem text-right" href="/projects">View all projects</a>
  </section>

  <section class="col-12">
    <hr class="mt-1 mb-3 pt-0" />
  </section>

  {{#if images}}
    <section class="col-12 font-weight-light mb-3">
      <div class="row">
        <div class="col-lg-9 col-xl-8 mx-auto">
          <img class="img-fluid" src="{{images.[0]}}" id="proj-lg-img" />
        </div>
      </div>
      {{#if images.[1]}} {{!-- has at least two images --}}
        <div class="row justify-content-center mt-3 mx-auto no-gutters">
          {{#each images}}
            <div class="col mx-1 mw-155">
              <img class="proj-img {{#if @first}}proj-img-selected{{/if}} img-fluid img-thumbnail rounded" src="{{this}}" />
            </div>
          {{/each}}
        </div>
      {{/if}}
    </section>
  {{/if}}

  <section class="col-12 font-weight-light mb-3">
    <div class="text-uppercase d-flex flex-wrap justify-content-center">
      <div class="pr-3"><span class="text-blue">Client</span> {{client}}</div>
      <div class="pr-3"><span class="text-blue">Location</span> {{location}}</div>
      <div><span class="text-blue">Duration</span> {{date}}</div>
    </div>
  </section>

  <section class="col-12 font-weight-light mb-2">
    <div class="mb-lg-2 text-justify">
      {{{descriptionHTML}}}
    </div>
  </section>

</div>
