<div class="bg-white pt-3 px-0 px-md-3 pb-md-3 rounded">
  <div class="px-3 pb-3 pb-md-0 text-center text-md-left">
    <h3 class="font-weight-light text-uppercase mb-0">
      <span class="text-blue">{{firstName}} {{lastName}}</span>
    </h3>
  </div>

  <div class="px-3 font-weight-light">
    <div class="row">
      <div class="col-md-4 col-xl-3 order-md-2 mb-3">
        <div class="img-thumbnail">
          <div class="img-placeholder-3-4 d-none d-md-block">
            <img class="placed-img img-fluid" src="{{imgTallSource}}" />
          </div>
          <div class="img-placeholder-2-1 d-md-none">
            <img class="placed-img img-fluid" src="{{imgThumbSource}}" />
          </div>
        </div>
      </div>
      <div class="col-md">
        <p class="text-light-gray text-uppercase text-roboto-cond font-weight-medium">{{title}}</p>
        {{{bioHTML}}}
      </div>
    </div>
    <div class="row mx-auto d-md-none">
      <a href="/staff" class="spa-nav return-button mb-3">View all staff</a>
    </div>
  </div>
</div>
