<div class="bg-white rounded pt-3 px-0 px-md-3 pb-md-3">
  <div class="px-3 text-sm-left">
    <h3 class="font-weight-light text-uppercase text-blue">
      {{#if pageTitle}}
        {{pageTitle}}
      {{else}}
        {{title}}
      {{/if}}
    </h3>
  </div>

  <hr class="mx-3 mt-1 mb-3 pt-0" />

  {{#if images}}
    <div class="row px-3">
      <div class="col-lg-9 mx-auto">
        <img class="img-fluid" src="{{images.[0]}}" id="proj-lg-img" />
      </div>
    </div>
    {{#if images.[1]}} {{!-- has at least two images --}}
      <div class="row px-3 justify-content-center mt-3 mx-auto no-gutters">
        {{#each images}}
          <div class="col mx-1 mw-155">
            <img class="proj-img {{#if @first}}proj-img-selected{{/if}} img-fluid img-thumbnail rounded" src="{{this}}" />
          </div>
        {{/each}}
      </div>
    {{/if}}
  {{/if}}

  <div class="px-3 mt-3 font-weight-light mb-3">
    <div class="text-uppercase d-flex flex-wrap justify-content-center">
      <div class="pr-3"><span class="text-blue">Client</span> {{client}}</div>
      <div class="pr-3"><span class="text-blue">Location</span> {{location}}</div>
      <div><span class="text-blue">Duration</span> {{date}}</div>
    </div>
  </div>

  <div class="px-3 font-weight-light pb-1 pb-md-0 text-sm-justify">
    {{{descriptionHTML}}}
  </div>
</div>
