{{#each projectCategories}}
  <div class="bg-white pt-3 px-0 px-md-3 rounded {{#unless @last}}mb-3{{/unless}}">
    <div class="pl-md-3 text-center text-md-left">
      <h3 class="font-weight-light text-uppercase pb-2">
        <span class="text-blue">{{titleOne}} </span> {{!-- should allow for flexible length --}}
        <span class="text-gray">{{titleTwo}}</span>
      </h3>
    </div>

    <div class="row px-3">
      {{#each projects}}
        <div class="col-md-6 col-lg-4 pb-3 pb-md-4-5 anchor-plain">
          <div class="card h-100">
            <a class="spa-nav" href="{{path}}">
              <div class="img-placeholder-9-5">
                <img class="placed-img card-img-top" src="{{thumbImg}}" alt="{{title}}">
              </div>
            </a>
            <div class="card-body text-roboto font-weight-light">
              <a class="spa-nav" href="{{path}}">
                <span class="blue-header">{{title}}</span>
              </a>
              <p class="card-text text-point-87-rem">{{description}}</p>
            </div>
            <div class="card-footer">
              <div class="row gray-subheader">
                <div class="col-7">{{location}}</div>
                <div class="col-5 text-right">{{date}}</div>
              </div>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
{{/each}}
