<div class="bg-white pt-3 px-0 px-md-3 pb-md-2 rounded">
  <div class="px-3 text-center text-md-left">
    <h3 class="font-weight-light text-uppercase pb-1">
      <span class="text-blue">Staff</span>
      <span class="text-gray"></span>
    </h3>
  </div>

  <div class="row px-3 text-center text-md-left anchor-plain">
    {{#each staff}}
      <div class="staff-item col-md-6 col-lg-4 pb-2 pb-md-3">
        <a class="spa-nav" href="{{path}}">
          <div class="img-thumbnail">
            <div class="img-placeholder-2-1">
              <img class="placed-img" src="{{imgThumbSource}}" alt="{{firstName}}">
            </div>
          </div>
        </a>
        <div class="blue-header pt-1">
          <a class="spa-nav" href="{{path}}">{{firstName}} {{lastName}}</a>
        </div>
        <div class="gray-subheader text-uppercase">
          {{title}}
        </div>
      </div>
    {{/each}}
  </div>
</div>
