{{#each projects}}
  <div class="col-md-6 col-lg-4 pb-3 pb-md-4-5">
    <div class="card h-100">
      <a href="{{hash}}">
        <img class="card-img-top" src="{{imgSource}}" alt="{{title}}">
      </a>
      <div class="card-body text-roboto">
        <a href="{{hash}}">
          <span class="blue-header">{{title}}</span>
        </a>
        <p class="card-text text-point-87-rem">{{description}}</p>
      </div>
      <div class="card-footer">
        <div class="row gray-subheader">
          <div class="col-7">{{location}}</div>
          <div class="col-5 text-right">{{date}}</div>
        </div>
      </div>
    </div>
  </div>
{{/each}}
