{{#each staff}}
  <div class="staff-item col-md-6 col-lg-4 pb-2 pb-md-3">
    <a href="{{hash}}">
      <img class="img-thumbnail" src="{{imgThumbSource}}" alt="{{firstName}}">
    </a>
    <div class="pt-1 pl-1">
      <div class="blue-header">
        <a href="{{hash}}">{{firstName}} {{lastName}}</a>
      </div>
      <div class="gray-subheader text-uppercase">
        {{title}}
      </div>
    </div>
  </div>
{{/each}}
